= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg


  = f.hidden_field :blog_id
  = f.hidden_field :user_id
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :content
    = f.text_area :content
  .field
    = f.label 'categories'
    - 3.times do |i|
      = select_tag 'category_ids[]', options_from_collection_for_select([Category.new] + Category.all,:id,:title)
  .actions
    = f.submit 'Save'
