%h2= "Title: #{@post.title}"
.content= simple_format sanitize(@post.content)
%p
  categories:
  - @post.categories.each do |category|
    = link_to "#{category.title}", category_post_list_path(category.title)
%p= "created:#{date_jp @post.created_at} / updated:#{date_jp @post.updated_at}"
